@charset "UTF-8";
.boxContent {
  background-color: #303030;
  box-shadow: 8px 8px 32px #000;
  margin: 10px auto;
  padding: 6px;
  width: 212px;
}
.internoBtn {
  font-size: 16px;
  font-weight: 600;
  margin: 4px;
  width: 60px;
}

.internoInp {
  background-color: #101010;
  color: #eee;
  padding: 2px;
  text-align: right;
  width: 132px;
}
.green {
  color: #005e0c;
}
.red {
  color: #e70d0d;
}
.blue {
  color: #110de7;
}
h1 {
  color: #eee;
  text-align: center;
}
